# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

*.log
*.pot
*.pyc
*.pyo
*.db
secret_key

.env
.pre-commit-config.yaml

node_modules/
package-lock.json
webpack-stats.json
